/*
// ============= Purple color scheme ================= 
$primary: #462b61;
$priaryVariant: white;
$onPrimary: #ffffff;

$secondary: #9269c4;
$secondaryVariant: white;
$onSecondary: black;

$background: #121212;
$onBackground: #b5b5b5;

$surface: #2e2e2e;
$onSurface: #b5b5b5;

$error: red;
$onError: black;
//==============================================================
*/


// =============== White color scheme ==================
$primary: #3046ab;
$primaryVariant: white;
$onPrimary: #ffffff;

$secondary: #5a2aad;
$secondaryVariant: white;
$onSecondary: white;

$background: #f0f0f0;
$onBackground: #1f1f1f;
$onBackgroundFaded: #808080;

$surface: #ffffff;
$onSurface: #616161;

$error: red;
$onError: white;
