// =========== Purple color scheme ==========================
/*
$window-background: #0f040d;

$side-nav-background: #100007;
$side-nav-focus-background: #34003b;

$text-color: #b5b5b5;
$text-focus-color: #b5b5b5;

$element-background: #0f0a0e;

$button-background: #51085e;
$button-focus-background: #27032e;
*/
// ==========================================================
$primary: #462b61;
$primaryVariant: white;
$onPrimary: #ffffff;

$secondary: #9269c4;
$secondaryVariant: white;
$onSecondary: black;

$background: #121212;
$onBackground: #b5b5b5;

$surface: #2e2e2e;
$onSurface: #b5b5b5;

$error: red;
$onError: black;
